{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'webapp/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/cbaf4f6010.js" crossorigin="anonymous"></script>
    <title>StudyMania</title>
  </head>
  <body>
      <header class="header short-header">
        <div class="header-bg short-header-bg">
        </div>
        <div class="navbar edit-div-navbar header-visible">
          <nav class="edit-navbar navbar navbar-expand-lg navbar-light navbar-nav">
              <div class="container-fluid edit-container-fluid">
                <a class="navbar-brand col-lg-1 col-md-1 col-sm-1 nav-logo-box" href="{% url 'main-site' %}">
                    <img src="{% static 'webapp/images/logo3.png' %}" alt="" width="250" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon  col-4"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                  <ul class="navbar-nav  mb-lg-0 nav-ul">
                    <li class="nav-item nav-links">
                        <a class="nav-link active nav-links" aria-current="page" href="{% url 'main-site' %}">Home</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active nav-links" aria-current="page" href="{% url 'AboutUs' %}">About us</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active nav-links" aria-current="page" href="#">Blog</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active" aria-current="page" href="{% url 'AllDocs' %}">Dokumente</a>
                    </li>
                  </ul>
                  <button class="signIn-Up-button" type="submit">Abmelden</button>
                </div>
              </div>
          </nav>
        </div>
        <div class="main-header main-header-search header-visible-test">
          <form class="d-flex col-8 col-lg-8 col-xl-8 col-sm-8 justify-content-center searchfield-fixed", method="POST", action="{% url 'Content-Liste' %}">
            {% csrf_token %}
            <input class="form-control me-2" name="searched" type="search" placeholder="Suche dein Lernthema..." aria-label="Suche dein Lernthema...">
            <input type="hidden" name="topics" value="False"/>
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </header>
      <main class="main-login">
        <div class="container">
            {% block content %}
            {% if searched %}
            <h3 class="my-5"> You Searched For "{{ searched }}" </h3>
            {% for document in documents %}
            <div class="row mx-auto justify-content-center mb-4">
                <div class="article-card col-md-12 col-lg-12 col-xl-12 card mb-4 mb-4 add-content-card">
                    <div class="card-body">
                        <h1>{% block title %} {{ document.name }} {% endblock title %}</h1>
                        <p class="card-text text-muted h6"> Hochgeladen von {{ document.uploader }} | Datum: {{ document.uploaded_on}} </p>
                        <p class="card-text">{{ document.description}}</p>
                        <p class="text-muted ">Thema: {{ document.topic }} </p>
                    </div>
                </div> 
            </div>
            {% endfor %}
            {% else %}
            <h3 class="mt-5 mb-2"> Du hast im Suchfeld nichts eingegeben! </h3>
            {% endif %}
            {% endblock %}
            <!-- List of uploaded documents -->
            {% if documents %}
                <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}" download>{{ document.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <h5>Keine passenden Dokumente gefunden.</h5>
            {% endif %} 
        </div>
      </main>
      <footer class="footer">
        <div class="footer-bg">
        </div>
        <div class="footer-visible row py-7 my-7 mx-auto justify-content-around">
          <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-5 logo" align="center">
            <img src="{% static 'webapp/images/logo3.png' %}" alt="" width="250">
          </div>
          <!-- <div class="col"></div> -->
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1  mb-5" align="center">
            <h5 class="footer-content">Menü</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav-item mb-2 ">Community</li>
              <li class="nav-item mb-2 footer-content">Über uns</li>
              <li class="nav-item mb-2 footer-content">Blog</li>
              <li class="nav-item mb-2 footer-content">Kontakt</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1 mb-5" align="center">
            <h5 class="footer-content">Rechtlich</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav flex-column footer-content">Impressum</li>
              <li class="nav flex-column footer-content">AGB's</li>
              <li class="nav flex-column footer-content">Datenschutzerklärung</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1 mb-5" align="center">
            <h5 class="footer-content">Anschrift</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav flex-column footer-content">Musterstraße 1</li>
              <li class="nav flex-column footer-content">12345 Musterstadt</li>
            </ul>
          </div>
          <!-- <div class="col"></div> -->
          <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-5" align="center">
            <div class="mx-auto copyright">
              <p>Copyright ©StudyMania</p>
            </div>
          </div>
        </div>
      </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>