{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'webapp/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/cbaf4f6010.js" crossorigin="anonymous"></script>

    <title>StudyMania</title>
  </head>
  <body>
      <header class="header"> 
        <div class="header-bg">
        </div>
        <div class="navbar edit-div-navbar header-visible">
          <nav class="edit-navbar navbar navbar-expand-lg navbar-light navbar-nav">
              <div class="container-fluid edit-container-fluid">
                <a class="navbar-brand col-lg-1 col-md-1 col-sm-1 nav-logo-box" href="{% url 'main-site' %}">
                    <img src="{% static 'webapp/images/logo3.png' %}" alt="" width="250" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon  col-4"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                  <ul class="navbar-nav mb-lg-0 nav-ul">
                    <li class="nav-item nav-links">
                        <a class="nav-link active nav-links" aria-current="page" href="{% url 'main-site' %}" style="color:#CC3333;">Home</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active nav-links" aria-current="page" href="{% url 'AboutUs' %}">About us</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active nav-links" aria-current="page" href="#">Blog</a>
                    </li>
                    <li class="nav-item nav-links">
                      <a class="nav-link active" aria-current="page" href="{% url 'AllDocs' %}">Dokumente</a>
                    </li>
                  </ul>
                  <div>
                    <a href="{% url 'login' %}">
                      <button class="signIn-Up-button" type="submit">Abmelden</button>
                    </a>
                  </div>
                </div>
              </div>
          </nav>
        </div>
        <div class="row lp-main-header header-visible-test">
          <div>
            <h1 class="mainheader-title">Starte jetzt und sehe<br>schnelle Lernerfolge.</h1>
          </div>
          <div class="mainpage-pic header-visible"> 
            <img src="{% static 'webapp/images/pic_mainpage.png'%}" alt="" class="img-fluid">
          </div>
          <form class="d-flex col-8 col-lg-8 col-xl-8 col-sm-8 justify-content-center searchfield", method="POST", action="{% url 'Content-Liste' %}">
            {% csrf_token %}
            <input class="form-control me-2" name="searched" type="search" placeholder="Suche dein Lernthema..." aria-label="Suche dein Lernthema...">
            <input type="hidden" name="topics" value="False"/>
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </header>
      <main class="main-login">
        <div class="modules-nav container mt-4">
            <ul class="nav nav-pills mb-3 courses-list" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="font-size: calc(11px + 1.5vw) !important;">Wirtschaft</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" style="font-size: calc(11px + 1.5vw) !important;">Gesundheit</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" style="font-size: calc(11px + 1.5vw) !important;">Technik</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="side-note">
                    <div class="exclamation-mark">
                      <i class="fas fa-exclamation"></i>
                    </div>
                    <div class="side-tipps">
                      <ul>
                        <li>Bekomme Lerntipps</li>
                        <li>Vernetze dich</li>
                        <li>Downloade Altklausuren und Zusammenfassungen</li>                        
                      </ul>
                    </div>
                  </div>
                  <div class="study-courses">
                      <ul class="modules-list">
                          <li>
                            <a href="{% url 'main-site' %}">
                              <div class="align-middle">
                                <i class="fas fa-landmark color-red-1"></i>
                                <div class="module-description">
                                  <h5>Betriebswirtschaftslehre (BWL)</h5>
                                  <p>z.B. Handel, Industrie, Digital Business</p>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="{% url 'main-site' %}">
                              <div class="align-middle">
                                <i class="fas fa-photo-video color-red-2"></i>
                                <div class="module-description">
                                  <h5>Medien (ME)</h5>
                                  <p>z.B. Medienmanagement, Gestaltung</p>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="{% url 'main-site' %}">
                              <div class="align-middle">
                                <i class="fas fa-calculator color-red-3"></i>
                                <div class="module-description">
                                  <h5>Rechnungswesen, Steuern, Wirtschftsrecht (RSW)</h5>
                                  <p>z.B. Accounting & Controlling, Steuern und Prüfwesen</p>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="{% url 'wirtschaftsinformatik' %}">
                              <div class="align-middle">
                                <i class="fas fa-laptop-code color-red-4"></i>
                                <div class="module-description">
                                  <h5>Wirtschaftsinformatik (WI)</h5>
                                  <p>z.B. Data Science, E-Health, Sales &Consulting</p>
                                </div>
                              </div>
                            </a>
                          </li>
                      </ul>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                </div>
            </div>
        </div>   
      </main>
      <footer class="footer">
        <div class="footer-bg">
        </div>
        <div class="footer-visible row py-7 my-7 mx-auto justify-content-around">
          <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-5 logo" align="center">
            <img src="{% static 'webapp/images/logo3.png' %}" alt="" width="250">
          </div>
          <!-- <div class="col"></div> -->
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1  mb-5" align="center">
            <h5 class="footer-content">Menü</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav-item mb-2 ">Community</li>
              <li class="nav-item mb-2 footer-content">Über uns</li>
              <li class="nav-item mb-2 footer-content">Blog</li>
              <li class="nav-item mb-2 footer-content">Kontakt</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1 mb-5" align="center">
            <h5 class="footer-content">Rechtlich</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav flex-column footer-content">Impressum</li>
              <li class="nav flex-column footer-content">AGB's</li>
              <li class="nav flex-column footer-content">Datenschutzerklärung</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1 mb-5" align="center">
            <h5 class="footer-content">Anschrift</h5>
            <ul class="nav flex-column footer-content">
              <li class="nav flex-column footer-content">Musterstraße 1</li>
              <li class="nav flex-column footer-content">12345 Musterstadt</li>
            </ul>
          </div>
          <!-- <div class="col"></div> -->
          <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-5" align="center">
            <div class="mx-auto copyright">
              <p>Copyright ©StudyMania</p>
            </div>
          </div>
        </div>
      </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>